.section-title {
  @apply text-lg lg:text-xl xl:text-2xl 2xl:text-4xl font-bold relative inline-block pb-8 tracking-wider;

  &::after {
    content: '';
    left: 25%;
    @apply border-b-2 xl:border-b-4 2xl:border-b-4 border-solid absolute bottom-0 block w-1/2;
  }
}

.left {
  &::after {
    @apply left-0;
  }
}

.white {
  color: white;
  &::after {
    border-color: white;
  }
}

.green {
  &::after {
    border-color: #00c9d0;
  }
}

.black {
  color: #000;
  &::after {
    border-color: #00c9d0;
  }
}
