.section-title {
  @apply text-2xl relative inline-block pb-5;

  &::after {
    content: '';
    left: 16.6%;
    @apply border-b-4 border-solid absolute bottom-0 block w-2/3;
  }
}

.left {
  &::after {
    @apply left-0;
  }
}

.white {
  color: white;
  &::after {
    border-color: white;
  }
}

.green {
  color: green;
  &::after {
    border-color: green;
  }
}
